<nz-layout class="layout">
  <nz-header>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <h1>
          NgxLoadingMask
        </h1>
      </div>
      <div nz-col [nzSpan]="12" style="text-align: right;">
        <a class="github-button" href="https://github.com/haoliangwu/ngx-loading-mask/issues" data-icon="octicon-issue-opened" aria-label="Issue haoliangwu/ngx-loading-mask on GitHub">Issue</a>
        <a class="github-button" href="https://github.com/haoliangwu/ngx-loading-mask" data-icon="octicon-star" data-show-count="true"
          aria-label="Star haoliangwu/ngx-loading-mask on GitHub">Star</a>
      </div>
    </div>
  </nz-header>
  <nz-content style="padding:0 50px;" ngxLoadingMask>
    <ng-template #mask *ngIf="isCustom">
      <h1>
        {{customMessage}}...(global)
      </h1>
    </ng-template>
    <div nz-row class="mock-control">
      <div nz-col [nzSpan]="12">
        <h2>Mock Control Panel</h2>
        <br>
        <form nz-form [nzType]="'horizontal'" [formGroup]="validateForm">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label nz-form-item-required>Select</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-select formControlName="zone" [nzSize]="'large'">
                <nz-option [nzLabel]="'Default'" [nzValue]="defaultGroup"></nz-option>
                <nz-option [nzLabel]="'Zone1'" [nzValue]="'zone1'"></nz-option>
                <nz-option [nzLabel]="'Zone2'" [nzValue]="'zone2'"></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>Reqest Mock Data</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-switch formControlName="isData"></nz-switch>
              <div *ngIf="isData" nz-form-extra>For obvious effect, maybe need throttling network by devTool</div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>Use Custom Template</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <div nz-row>
                <div nz-col [nzSpan]="4">
                  <nz-switch formControlName="isCustom"></nz-switch>
                </div>
                <div nz-col *ngIf="isCustom" [nzSpan]="20">
                  <nz-input [nzSize]="'large'" formControlName="customMessage" [nzId]="'customMessage'"></nz-input>
                </div>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>Timeout</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-slider [nzDisabled]="isData" formControlName="timeout" [nzMin]="1" [nzMax]="5" [nzMarks]="timeoutMarks"></nz-slider>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>Count</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-input-number [nzDisabled]="isData" formControlName="count" [nzSize]="'large'" [nzStep]="1" [nzMax]="5" [nzMin]="1"></nz-input-number>
              <span nz-form-text> mock requests</span>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>Error Type</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-switch [nzDisabled]="isData" formControlName="isError"></nz-switch>
            </div>
          </div>
          <div nz-form-item nz-row *ngIf="isError">
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="errorMessage">Error Message</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzSize]="'large'" formControlName="errorMessage" [nzId]="'errorMessage'"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-control nz-col [nzSpan]="18" [nzOffset]="6">
              <button nz-button [nzType]="'primary'" (click)="toggle()">Emit Mock Event</button>
            </div>
          </div>
        </form>
      </div>
      <div nz-col [nzSpan]="2"></div>
      <div nz-col [nzSpan]="10" class="logs">
        <h2>Request Logs</h2>
        <br>
        <div *ngFor="let log of logs" [innerHTML]="log | safeHtml">
        </div>
      </div>
    </div>
    <div nz-row class="zone-wrapper">
      <div class="zone" nz-col [nzSpan]="11" [ngxLoadingMask]="'zone1'">
        <h1>zone1</h1>
        <ng-template #mask *ngIf="isCustom">
          <h1>
            {{customMessage}}...(zone1)
          </h1>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="2"></div>
      <div class="zone" nz-col [nzSpan]="11" [ngxLoadingMask]="'zone2'">
        <h1>zone2</h1>
        <ng-template #mask *ngIf="isCustom">
          <h1>
            {{customMessage}}...(zone2)
          </h1>
        </ng-template>
      </div>
    </div>
  </nz-content>
</nz-layout>
