<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="wrapper" ngxLoadingMask>
    <button (click)="togglePending('default_mask_group')">default</button>
    <ng-template #mask>
      <div style="text-align: center;">
        <img [attr.src]="'/assets/ripple.svg'" style="width: 144px; height: 144px;">
        <div>
          <span>loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="wrapper" [ngxLoadingMask]="'foo'">
    <button (click)="togglePending('foo', 'some error happened')">foo</button>
  </div>
</div>
