.layout {
    width: 100%;
    height: 100%;
    h1 {
        color: #fff;
    }
}

.mock-control {
    padding: 2em;
}

.zone-wrapper {
    padding: 2em;
    .zone {
        height: 40vh;
        border: 1px solid #ccc;
        h1 {
            color: rgba(0, 0, 0, .87);
            margin: auto;
            text-align: center;
            line-height: 40vh;
            height: 100%;
        }
    }
}

.logs {
    height: 30vh;
    overflow: auto;
    span {
        &.highlight {
            font-weight: bold;
        }
    }
}
